body{
  font-family: 'Inter';
  font-style: italic;
}


.headerrr{
  align-items: center; display: flex; flex-direction: row;position: absolute;gap:100px;
  justify-content: center;
  font-weight: 900s;
  font-size: 25px;

  line-height: 100.02%;
  width:100%;
  color: rgb(255, 255, 255);
  background-color:#000000;
}

.ntro{
  align-items: center; display: flex; flex-direction: column;position: absolute;
  font-weight: 900s;
  font-size: 60px;

  line-height: 100.02%;
  left:10%;
  right:10%;
  

  color: #ffffff;
 }

 .nizzz {

  align-items: center; display: flex; flex-direction: column;position: absolute;
  font-weight: 900s;
  font-size: 60px;
  top:7000px;

  line-height: 100.02%;
  left:10%;
  right:10%;
  

  color: #ffffff;
}

.ass{
  align-items: center; display: flex; flex-direction: column;position: absolute;gap: 115px; 
  font-family: 'Inter';
  font-style: italic;
  font-weight: 900s;
  font-size: 70px;
  top:1400px;
  line-height: 100.02%;
  left:10%;
  right:10%;
  

  color: #000000;

}

.dva{
  position: absolute;
  width: 1050px;
  height: 1050px;
  right: 5%;
  top: 100px;
}
.button{
    margin:0;
    
    font-family: 'Inter';
    font-style: italic;
    border-radius: 50px;
    border-width: 0px;
    width: 700px;
    height: 90px;
    font-weight: 900s;
    font-size: 55px;
    line-height: 100.02%;
    background-color: #FF6DBA
}





.button1{
  position: absolute;
  font-family: 'Inter';
  font-style: italic;
  border-radius: 50px;
  width: 580px;
  height: 80px;
  left: 960px;
  top: 7700px;
  font-weight: 900s;
  font-size: 48px;
  line-height: 100.02%;
  background-color: #FF6DBA;
}


.dva2{
  position: absolute;
  width: 800px;
  left: 250px;
  top: 1600px;
}



.programma{
  align-items: center; display: flex; flex-direction: column;position: absolute;top:2750px;display: flex; height: 100px; gap: 200px; ;
  font-family: 'Inter';
  font-style: italic;
  height: 100px;
  font-weight: 900s;
  font-size: 60px;
  text-align: center;
  line-height: 100.02%;
  left:10%;
  right:10%;
  
  /* or 64px */
  

  color: #ffffff;
}

.Arnold{
  position: absolute;
  width: 800px;
  right: 5%;
  top: 3000px;
  transform:rotate(6.35deg);
}



.container{
  align-items: center; display: flex; flex-direction: column;position: absolute;top:4000px;
  font-family: 'Inter';
  font-style: italic;
  height: 100px;
  font-weight: 900s;
  font-size: 70px;
  line-height: 100.02%;
  left:10%;
  right:10%;
  /* or 64px */
  

  color: #ffffff;
}
.container1{
  align-items: center; display: flex; flex-direction: column;position: absolute;top:2925px;display: flex; height: 100px; gap: 200px; ;
  font-family: 'Inter';
  font-style: italic;
  height: 100px;
  font-weight: 900s;
  font-size: 60px;

  line-height: 100.02%;
  left:10%;
  right:40%;
  
  /* or 64px */
  

  color: #ffffff;
}

/*FOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOOON*/

.block 
{
  background: rgb(28, 28, 28);
  position:absolute;
  top:0px;
  width: 110%;
  margin-top:-10px;
  margin-left:-10px;;
  height: 1350px;
  clip-path: polygon(0 0, 100% 0, 100% 45%, 0 100%);
  
}
.img 
{
  display: block;
  position: absolute;
  background: linear-gradient(208.6deg, #C95A82 18.42%, #BF6B9E 39.81%, #9BA6FF 72.61%);
  width: 110%;
  margin-left:-10px;;
  height: 3800px;
  top: -270px;


}
#h1{
position: absolute;
width: 635px;
height: 59px;
left: 138px;
top: 141px;
font-family: 'Chicle';
font-style: normal;
font-weight: 400;
font-size: 40px;
line-height: 100%;
color: #FFFFFF;
}
.block1 {
  position: absolute;
  top:3450px;
  width: 110%;
  margin-top:-10px;
  margin-left:-10px;;
  height: 600px;


}
.block1:after {
  background: rgb(28, 28, 28);
  bottom: 0;
  content: '';
  display: block;
  height: 300%;
  left: 0;
  position: absolute;
  right: 0;
  transform: skewY(9deg);
  transform-origin: left;


}
.img1 
{
  display: block;
  position: absolute;
  background: linear-gradient(190.6deg, rgba(155, 166, 255, 1) 18.42%, rgba(255, 190, 241, 1) 39.81%, rgba(238, 186, 138, 1) 72.61%);
  width: 110%;
  margin-left:-10px;;
  height: 3000px;
  top: 4000px;


}
.block2 
{
  background: rgb(28, 28, 28);
  position: absolute;
  width: 110%;
  margin-top:-10px;
  margin-left:-10px;;
  height: 2300px;
  top: 6010px;;
  clip-path: polygon(0 42%, 100% 0, 100% 100%, 0 100%);
  

}


.footer{
  background:#000;
  padding:30px 0px;
  width: 110%;
  margin-top:-10px;
  margin-left:-10px;;
  font-family: 'Play', sans-serif;
  top: 8000px;;
  position: relative;
  text-align:center;
  }
  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:gray;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:gray;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row ul{
  width:100%;
  }
  
  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }
  
  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }